// COLORS
$color-primary: #3185FC;
$color-primary-light: #5a9dfd;
$color-primary-dark: #225db0;

$color-accent-dark: #fb6f92;
$color-accent-light: #ffb3c6;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-primary: #eaf3ff;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-primary: #0a1b32;


$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

$default-font-family: 'Lato', sans-serif;
$handwriting-font-family: 'Lemonada', cursive;

